<div id="profile" class="container mt-2 profile swiper-container opacity" >
  {{#each allEntries}}
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 ">
        <a href="/post/{{this.id}}"><img src="{{this.image}}" alt="logo"></a>
      </div>
      <div class="col-md-8">
        <div id="card-body"class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><strong>Name:</strong> {{this.name}}</p>
          {{#if this.attack}}
          <p class="card-text"><strong>Attack:</strong> {{this.attack}}</p>
          {{/if}}
          {{#if this.defense}}
          <p class="card-text"><strong>Defense:</strong> {{this.defense}}</p>
          {{/if}}
          <p class="card-text"><strong>Category:</strong> {{this.category}}</p>
          {{#if this.common_locations}}
          <ul><strong>Habitats</strong>
          {{#each this.common_locations}}
            <li class="card-text">{{this}}</li>
          {{/each}}
          </ul>
          {{/if}}
          <p class="card-text"><strong>Description:</strong> {{this.description}}</p>
          {{#if this.drops}}
          <ul><strong>Drops</strong>
          {{#each this.drops}}
            <li class="card-text">{{this}}</li>
          {{/each}}
          </ul>
          {{/if}}
          {{#if this.cooking_effect}}
          <p class="card-text"><strong>Cooking effect:</strong> {{this.cooking_effect}}</p>
          {{/if}}
          {{#if this.hearts_recovered}}
          <p class="card-text"><strong>Hearts recovered:</strong> {{this.hearts_recovered}}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
